<template>
    <div class="mb-3">
        <input class="form-control border border-transparent stop_location" v-model="stop" @change="changeValue($event.target.value,$event)" id="dest_address"
               value="sitapaila" type="text" name="destination_address[]" autocomplete="off" placeholder="DESTINATION ADDRESS 1">
        <input type="hidden" id="dest_long" class="stop_long" name="dest_long[]">
        <input type="hidden" id="dest_lat" class="stop_lat" name="dest_lat[]">
    </div>
</template>

<script>
export default {
    name: "destination",
    data(){
        return {
            stop:'',
            long:'',
            lat:''
        }
    }
}
</script>

<style scoped>

</style>
