body {
    font-family: "Raleway" !important;
    color: black !important;
}
#navbar-example .input-group {
    width: 400px;
}
#navbar2 {
    display: none;
}
#navbar-example,
#navbar2 {
    transition: width 20s;
}
.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link {
    color: #7920FF !important;
}
.image img {
    border-radius: 10px !important;
}
.image .col-4:first-child {
    margin-top: 2rem;
    text-align: left;
}
.image .col-4:nth-child(2) {
    text-align: center;
}
.image .col-4:last-child {
    margin-top: 4.5rem;
    text-align: right;
}
.inquiry {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 1.2rem 0.45rem !important;
    z-index: 999;
}
.arrow-button{
    display: none;
}
.arrow-up{
    position: fixed;
    bottom: 100px;
    right: 30px;
    padding: 0.5rem 0.8rem !important;
    z-index: 999;
}
.sborder {
    border: 2px solid #b0b0b0 !important;
}
#navbar-example .form-control,
.search2 .form-control {
    border-radius: 30px !important;
    max-width: 345px !important;
}
#navbar-example .form-control:focus {
    box-shadow: none !important;
}
#navbar-example .navbar-collapse {
    flex-grow: 0 !important;
    flex-basis: 100% !important;
}
.bg-white {
    background-color: white;
}
.navbar-expand-lg:first-child {
    flex-wrap: wrap !important;
}
.btn-outline-l {
    border-radius: 100rem;
    font-size: 1.2rem !important;
    color: #7920ff !important;
    border: solid 3px transparent !important;
    background-image: linear-gradient(
            rgba(255, 255, 255, 0),
            rgba(255, 255, 255, 0)
        ),
        linear-gradient(101deg, #7920ff, #19f0f0);
    background-origin: border-box;
    background-clip: content-box, border-box;
    box-shadow: 2px 1000px 1px #fff inset;
}
.btn-outline-purple {
    border-radius: 100rem;
    font-size: 1.2rem !important;
    color: #7920ff !important;
    background-origin: border-box;
    border: 2px solid #7920ff !important;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px !important;
    background-clip: content-box, border-box;
    padding: 0.375rem 2.3rem !important;
}
.btn-check:focus+.btn, .btn:focus {
    box-shadow: none !important;
}
.text-blue {
    color: #19f0f0;
}
.text-purple {
    color: #7920ff !important;
}
.btn-outline-l:hover {
    box-shadow: none;
    color: white !important;
}
.btn-outline-l:hover > i {
    color: white !important;
}
.btn-outline-l:focus > i {
    color: white !important;
}
.btn-outline-l:focus {
    box-shadow: none;
    color: white !important;
}
.btn-grad {
    background: linear-gradient(91.66deg, #7920ff -51.02%, #19f0f0 121.87%);
    color: white !important;
}
.btn-grad:hover {
    background: linear-gradient(91.66deg, #19f0f0 -51.02%, #7920ff 121.87%);
}
.navb1 .navbar-nav .nav-link {
    padding-right: 4rem !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 0.5rem;
    font-size: 1.1rem;
    color: #1d152a !important;
}
.search-container *,
.search-container *:after,
.search-container *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}
.search-container *:focus {
    background: #fbfbfb;
    color: #333333;
    outline: 0;
}
.search-container {
    display: table;
    position: relative;
    width: 51px;
    transition: all 0.7s;
}
.search-icon-btn {
    background: linear-gradient(91.66deg, #19f0f0 -51.02%, #7920ff 121.87%);
    display: table-cell;
    height: 33px;
    position: relative;
    text-align: center;
    vertical-align: middle;
    width: 33px;
    z-index: 2;
    border-radius: 50%;
}
.search-input {
    position: absolute;
    left: 0;
    z-index: 1;
}
.search-input input.search-bar {
    border: 1px solid #cccccc;
    height: 33px;
    padding: 0px;
    width: 33px;
    border-radius: 30px;
}
.search-input input.search-bar:focus {
    padding-left: 36px;
    padding-right: 10px;
    width: 225px;
    font-size: 0.8rem;
}
.search-input input.search-bar,
.search-icon-btn {
    -webkit-transition: all 0.7s;
    -moz-transition: all 0.7s;
    -ms-transition: all 0.7s;
    -o-transition: all 0.7s;
    transition: all 0.7s;
}
.search-container:hover > .search-input input.search-bar {
    padding-left: 36px;
    padding-right: 10px;
    width: 225px;
    font-size: 0.8rem;
}
.search-container:hover {
    width: 225px;
}
.search-container:focus-within {
    width: 225px;
}
.pt-191 {
    padding-top: 191px;
}
.decoration-none {
    text-decoration: none !important;
}
.slider {
    background-size: cover !important;
    background-position: center;
    height: 485px;
    background-repeat: no-repeat !important;
}
.carousel-indicators {
    position: absolute;
    right: 0;
    bottom: -57px !important;
    left: 0;
}
.carousel-indicators [data-bs-target] {
    width: 20px !important;
    height: 20px !important;
    background-color: #fff !important;
    border-radius: 50%;
    margin-right: 48px !important;
    opacity: 1 !important;
    border: 1px solid #4d4d4d !important;
}
.carousel-indicators [data-bs-target]:nth-child(3) {
    margin-right: 0px !important;
}
.carousel-indicators .active {
    background: linear-gradient(91.66deg, #7920ff -51.02%, #19f0f0 121.87%);
    border: 0 !important;
}
.mt-n2 {
    margin-top: -2rem !important;
}
.mt-n1 {
    margin-top: -0.5rem;
}
.mt-n4 {
    margin-top: -3rem !important;
}
.heading {
    font-weight: bolder;
    font-size: 2.3rem;
    line-height: 47px;
    text-align: center;
    margin-bottom: 50px;
    color: #1d152a;
}
.course {
    width: 100%;
    background: #fafafa;
    box-shadow: 0px 10px 22px rgba(0, 0, 0, 0.2);
    border-radius: 15px;
    padding: 1.8rem;
    margin-bottom: 25px;
    color: #1d152a;
    transition: transform .4s;
}
.course:hover{
    box-shadow: 0px 12px 25px rgba(0, 0, 0, 0.2);
    padding:1.8rem 2rem ;
}
.course:hover img{
    transform: scale(1.1);
}
.step {
    width: 90%;
    height: 280px;
    background: #fafafa;
    box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.2);
    border-radius: 30px;
    text-align: center;
    padding-top: 50px;
    color: black;
}
.teammembers .step:hover  img{
    transform: scale(1.1);
}
.arrow {
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: -2rem;
}
#step p {
    font-size: 1.15rem;
    color: black;
}
#grad1 {
    background: red;
    background: -webkit-linear-gradient(left, #7920FF, #FF00C7, #19F0F0);
    background: -o-linear-gradient(right, #7920FF, #FF00C7, #19F0F0);
    background: -moz-linear-gradient(right, #7920FF, #FF00C7, #19F0F0);
    background: linear-gradient(to right, #7920FF, #FF00C7, #19F0F0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bolder;
    font-size: 2.1rem;
    line-height: 60px;
    text-transform: uppercase;
    text-align: center;
}
.fs-7 {
    font-size: 0.83rem !important;
}
.fs-8 {
    font-size: 0.9rem !important;
}
.px-6 {
    padding-right: 5rem !important;
    padding-left: 5rem !important;
}
.text-justify {
    text-align: justify;
}
[type="file"] {
    height: 0;
    overflow: hidden;
    width: 0;
}
[type="file"] + label {
    background: #fff;
    color: #7920ff !important;
    background-origin: border-box;
    border: 2px solid #7920ff !important;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    cursor: pointer;
    display: inline-block;
    font-weight: 500;
    margin-bottom: 1rem;
    outline: none;
    position: relative;
    transition: all 0.3s;
    vertical-align: middle;
    font-size: 1.2rem;
    border-radius: 10px !important;
    background-clip: content-box, border-box;
    padding: 0.375rem 2.3rem !important;
}
.course-head {
    height: 400px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}
.course-block {
    width: 57%;
    height: 100px;
    background: #fafafa;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.responsibilities li {
    list-style: disc;
}
.careerimg {
    width: 100%;
    height: 300px;
    background: #c4c4c4;
}
.course-detail {
    width: 400px;
    background: #fafafa;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}
.class-schedule {
    width: 400px;
    height: 150px;
    background: #7920ff;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: white;
}
.share {
    width: 300px;
    height: 110px;
    color: #4d4d4d !important;
    border: 2px solid #c4c4c4;
    box-sizing: border-box;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.circle1 {
    width: 100px;
    height: 100px;
    background: linear-gradient(180deg, #7920ff 0%, #19f0f0 100%);
    filter: blur(8px);
    transform: rotate(105deg);
    border-radius: 50%;
}
.circle2 {
    width: 100px;
    height: 100px;
    background: linear-gradient(180deg, #7920ff 0%, #19f0f0 100%);
    filter: blur(20px);
    border-radius: 50%;
}
.mail1 {
    position: absolute;
    top: 50px;
    right: 97px;
}
.mail2 {
    position: absolute;
    top: 125px;
    left: 97px;
}
.form-control {
    padding: 0.59rem 0.75rem !important;
    border: 2px solid #c4c4c4 !important;
    border-radius: 10px !important;
}
.blog .form-control {
    border-radius: 50rem !important;
}
.bg-lightgrey {
    background-color: #c4c4c4;
    color: black !important;
}
.contact .form-control {
    border: 2px solid #4d4d4d !important;
}
.num {
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
}
.interested {
    font-size: 1.2rem;
    line-height: 23px;
    letter-spacing: 0.4em;
    color: #7920ff;
    text-transform: uppercase;
}
.blog .card {
    background: #fafafa;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.19);
    border-radius: 20px 20px 0px 0px;
}
.blog img {
    background: #fafafa;
    border-radius: 20px 20px 0px 0px;
}
.recent img {
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.19);
}
.recent {
    border-bottom: 2px solid #c4c4c4;
}
.author {
    border-bottom: 2px solid #4d4d4d;
}
.iblog h2 {
    font-size: 1.9rem !important;
}
.expandall .accordion-button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: 15px !important;
    margin-top: 6px;
    content: "";
    background-image: url("../img/Vector 6.png");
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform 0.2s ease-in-out;
}
.expandall .accordion-button:not(.collapsed)::after {
    background-image: url("../img/Vector 6.png");
    transform: rotate(-180deg);
    margin-top: -6px;
}
.expandall .accordion-button:not(.collapsed) > .expand {
    display: none;
}
.closeall,
.less {
    display: none;
}
.spinner-border{
    width: 1.2rem !important;
    height: 1.2rem !important;
}
.expandall .accordion-button:not(.collapsed) > .closeall {
    display: block;
}
.accordion button {
    font-size: 1.3rem;
}
.accordion-flush .accordion-item:last-child {
    border-bottom: 1px solid rgba(0, 0, 0, 0.125) !important;
}
.accordion-button:not(.collapsed) {
    background-color: transparent !important;
    box-shadow: none !important;
    border-bottom: #7920ff 1px solid;
  }
  .accordion-button:focus {
    z-index: 3;
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .1rem #7920ff !important;
  }
footer {
    background: #1d152a;
}
footer a h6:hover{
    color: #19f0f0 !important;
}
.expand {
    float: right;
}
.fs-9 {
    font-size: 1.15rem;
}
footer h6 {
    font-size: 1.1rem;
    line-height: 21px;
}
.fmail {
    border: 2px solid #fafafa;
    box-sizing: border-box;
    border-radius: 10px;
}
.bg-dark {
    opacity: 0;
}
.f .input-group > .form-control {
    color: white !important;
    opacity: 1;
    border-radius: 1rem;
}
.f .input-group > .form-control::placeholder {
    color: white;
    opacity: 1;
}
footer ul,
.share ul {
    justify-content: space-between;
}
footer ul,
.share ul,
.recent ul {
    flex-direction: row;
    display: flex;
    padding: 0;
}
ul li {
    list-style: none;
}
.recent ul li {
    width: 30px;
    height: 30px;
    background: #fafafa;
    border-radius: 50%;
    text-align: center;
    padding-top: 2px;
    filter: grayscale(100%);
}
footer ul li,
.share ul li {
    background: #fafafa;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    padding-top: 4px;
    transition: .7s;
}
footer ul li:hover{
    transform: rotate(360deg);
}
.share ul li:hover{
    transform: rotateY(180deg);
}
.share ul li {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.footnote {
    border-top: 1px solid #4d4d4d;
    font-size: 0.9rem;
    line-height: 16px;
    color: #ffffff;
}
@media (max-width: 450px) {
    .mail1 {
        position: absolute;
        top: 29px;
    right: 65px;
    }
    .mail2 {
        position: absolute;
        top: 79px;
        left: 67px;
    }
    html{
        font-size: 11px;
      }   
    .course-block {
        width: 100%;
    }
    .course-detail{
        width: 350px;
        margin: 0 10px;
    }
}
@media (min-width: 768px) {
    .teammembers:nth-child(even) {
        margin-top: 5rem !important;
    }
    .mt-lg-7 {
        margin-top: 5rem;
    }
    .accept {
        margin-left: -20px;
    }
    .col-1 {
        min-width: 300px !important;
    }    
}
@media (min-width: 992px) {
    footer .col-lg-3 {
        width: 23.5%;
    }
    .pay li:first-child {
        margin-left: -103px;
    }
    .pay li:last-child {
        margin-right: 130px;
    }
}
@media (max-width: 1200px) {
    .div{
        width: 100%;
    }
}
@media (min-width: 1320px) {
    .navb .navbar-nav .nav-link {
        padding-right: 2.8rem !important;
    }
}
@media (max-width: 975px) {
    .step {
        width: 280px;
    }
    #navbar-example .input-group {
        width: 100%;
    }
}
@media (min-width: 450px) and (max-width: 500px) {
    .pt-191 {
        padding-top: 160px;
    }
    .course-block {
        width: 100%;
    }
}
@media (min-width: 500px) and (max-width: 570px) {
    .pt-191 {
        padding-top: 85px;
    }
}
@media (min-width: 570px) and (max-width: 719px) {
    .pt-191 {
        padding-top: 120px;
    }
}
@media (min-width: 370px) and (max-width: 450px) {
    .pt-191 {
        padding-top: 100px;
    }
}
@media screen and (min-width: 500px){
    html{
      font-size: 10px;
    }    
  }
  @media screen and (min-width: 570px){
    html{
      font-size: 11px;
    }
  }
  @media screen and (min-width: 620px){
    html{
      font-size: 11px;
    }
  }
  @media screen and (min-width: 680px){
    html{
      font-size: 11px;
    }
  }
  @media screen and (min-width: 720px){
    html{
      font-size: 12px;
    }
  }
  @media screen and (min-width: 800px){
    html{
      font-size: 13px;
    }
  }
  @media screen and (min-width: 860px){
    html{
      font-size: 14px;
    }
  }
  @media screen and (min-width: 920px){
    html{
      font-size: 15px;
    }
  }
  @media screen and (min-width: 1000px){
    html{
      font-size: 16px;
    }
  }